<app-crear *ngIf="modalswitch" (newItemEvent)="establecerData($event)"></app-crear>
<app-modificar *ngIf="modalswitchdos"></app-modificar>
<table class="table" >
    <thead>
      <tr>
        <th scope="col">User id</th>
        <th scope="col">Id</th>
        <th scope="col">Title</th>
        <th scope="col">Body</th>
        <th scope="col"></th>
        <th scope="col"> </th>
        <th scope="col"> </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of datos;let i= index">
        <th scope="row">{{item.userId}}</th>
        <td>{{item.id}}</td>
        <td>{{item.title}}</td>
        <td>{{item.body}}</td>
        <td><button  class= "btn btn-danger"type="button"  (click)="borrar(i)" >Eliminar</button> </td>
        <td><button  class= "btn btn-success"type="submit" (click)="abrircrear()" >Crear</button> </td>
        <td><button  class= "btn btn-primary"type="submit" (click)="abrirmodificar()">Modificar</button> </td>
    </tr>
  
    </tbody>
  </table>